section.about
  .about-wrapper
      h1 01 ABOUT
      .container
        .hero.introduction
          .imghandler
            img(src="/assets/img/Bush.jpg")
          .descriptionhandler
            h3 Introduction & Interests
            p My full name is Jarand Nikolai Jansen, and I have overcome 24 cold norwegian winters. I live in a way too small apartement with my wife and dog. </br></br> When I'm not making the internet I tend to travel a lot. I really like meeting different people and seeing new places. I also enjoy making movies, drinking lots of coffee and playing football.

        .hero.passion
          .imghandler
            img(src="/assets/img/inspor.jpg" class="")
          .descriptionhandler
            h3 Passion & Planning
            p I started doing design and front-end development about six months ago, and I absolutely love it!</br></br> I attend meetups as often as possible, but sadly there are not many available in my area. This spring I plan on starting up a monthly meetup for webdevelopers in Aust-Agder. Send me an email if you're interested!
        .hero.profession
          .imghandler
            img(src="/assets/img/tsoc.jpg")
          .descriptionhandler
              h3 Education & Experience
              p I studied computer engineering at University of Agder. I learned a whole lot and got to work on some pretty dank projects. For my final research project I made a VOIP-App for Windows.</br></br> I'm currently working as a IT-security analyst, and doing my best to stop hackers from breaking in places.
