section.about
  .headeraligner
    h1 01 ABOUT
  .container
    .hero.introduction
      .imghandler
        img(src="http://www.fillmurray.com/600/600")
      .descriptionhandler
        h3 introduction &</br>Biography
        p My full name is Jarand Nikolai Jansen. I am a webdesigner resided in Arendal, Norway.
        button  Full story
    .hero.passion
      .imghandler
        img(src="http://www.fillmurray.com/600/600")
      .descriptionhandler
        h3 Passion &</br>Motivation
        p I started doing design and front-end development about six months ago, and I absolutely love it!
        button  Personal projects
    .hero.profession
      .imghandler
        img(src="http://www.fillmurray.com/600/600")
      .descriptionhandler
          h3 Education &</br>Profession
          p I studied computer engineering at University of Agder. Now I'm working as a IT-security analyst.
          button  Open resumé
