section.articles
  .article-container
    h1 03 ARTICLES
    .articleholder
      .articledescription
        h4 Why you should have creative process
        p Even though i recently started doing webdesign, I've already developed a creative process. This article covers what makes the creative process so important.  
        button Read article
      .articlecover
        img(src="http://www.fillmurray.com/200/200")
    
    .articleholder
      .articlecover
        img(src="http://www.fillmurray.com/200/200")
      .articledescription
        h4 Why you should be a publisher
        p This article covers why you should publish your work frequently, and also what type of work you can publish. The article is based on a speech by Jack Conte. 
        button Read article
