header
  nav.side-label
  
    <i class="fa fa-bars hamburger" aria-hidden="true"></i>
    <i class="fa fa-times fa-10 closenav" aria-hidden="true"></i>

  nav.side-list
    ul
      li: a(href="#about") 01 About
      li: a(href="#about") 02 Articles
      li: a(href="#about") 03 Work
      li: a(href="#about") 04 You&I
      li: a(href="#about") 05 Contact
