header
  label.toggle
  label.exitnav.hidden EXITLOGO
  nav.site-nav
    ul
      li: a(href="#about") 01 About
      li: a(href="#about") 02 Articles
      li: a(href="#about") 03 Work
      li: a(href="#about") 04 You&I
      li: a(href="#about") 05 Contact
