header
  label.toggle
    <i class="fa fa-bars" aria-hidden="true"></i>
  nav.site-nav
    label.closenav
      <i class="fa fa-times fa-10" aria-hidden="true"></i>

    ul
      li: a(href="#about") 01 About
      li: a(href="#about") 02 Articles
      li: a(href="#about") 03 Work
      li: a(href="#about") 04 You&I
      li: a(href="#about") 05 Contact
