section.work
  .work-container
    h1 04 WORK
    .work-content
      .work-description
        p.disclaimer INFORMATION
        h4 Freelancing & </br>side projects
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate lobortis mattis. Quisque sit amet nibh tincidunt leo vehicula dignissim nec a odio.
      .work-examples
        .large-example
          img(src="/assets/img/rettebygg.jpg")
          h4 Rette bygg
          p A website I made for a local company offering carpentry services.
        .small-example-holder
          .small-example
            img(src="/assets/img/dayinlife.jpg")
          .small-example
            img(src="/assets/img/marin.jpg")
          .small-example
            img(src="/assets/img/Bipolar.jpg")
