.articles
  padding-left: 100px
  display: flex
  justify-content: center
  .article-container

    .articleholder
      display: flex
      padding-top: 40px
      .articledescription
        width: 400px
        display: inline-block
        h4
        p
        button
      .articlecover
        display: inline-block
        width: 400px
        img
          height: 240px
          width: 100%
          object-fit: cover
