header
  background: rgba(255,255,255,1)
  width: 200px
  height: 100vh
  position: fixed
  top: 0
  box-shadow: 5px 0px 14px -7px rgba(0,0,0,0.1)
.toggle
  &:before
    content: '\2630'
.hidden
  display: none
.site-nav
  ul

    color: white
    list-style: none
    width: 135px
    margin: 0 auto
    padding-left: 0px

    li
      margin: 3px 10px

      a
        color: rgba(0,0,0,0.7)
        text-transform: uppercase
        &:hover
          color: rgba(255,255,255,1)
