$primary-color: #0086F3
$text-color: #2E2D33
$secondary-color: #EA4235
$accent-color: black
$bg-color: #F6F6F8
$link-color: $accent-color
$selection-color: #FFF498

$saved-color: #4d2ce0
$saved-second: #FF4081
